body{
    background-color: beige;
}
/*============================================*/
body, menu{
    margin: 0;
}
menu, menu ul{
    padding: 0;
    background-color: #fff;
}
menu ul{
    margin-top: 7pt;
    margin-bottom: 5pt;
}
menu li{
    list-style: none;
}
menu li img{
    max-height: 25pt;
}
/*=====================================================*/
main h1{
    text-align: center;
    margin-top: 2rem;
}
main p{
    font-size: 16pt;
    letter-spacing: 1pt;
    word-spacing: 7pt;
    line-height: 24pt;
}
main .container{
    margin: 15px auto 10px auto;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd6d6;
}
main .content{
    height: 500px;
    overflow: auto;
}
main .col-12>.row>.col-auto:nth-child(2){
    margin-left: auto;
}
main .col-12>.row>.col-auto img{
    height: 20pt;
}
main .col-12>.row>.col-auto{
    padding: 5px 5px 7px 0px;
}